<form action="/User/Add" method="POST" class="body"   >
   <p>Nome : </p>
    <input  type="text"  name="nome"  >
    <p>email : </p>
    <textarea     name="email"></textarea>
    <p>Idade : </p>
    <input type="number"   name="idade" >
    <button  type="submit">Enviar</button>
    
</form