<form action="/Add" method="POST">
    <p>Nome : </p>
    <input  type="text"   name="nome" >
    <p>email : </p>
    <textarea     name="email"></textarea>
    <p> Idade : <p>
    <input type="number"   name="idade" </p>
    <button  type="submit">Enviar</button>
</form>
